

.top-container{
    background-color: #e4f9f5;
    position:relative;
    padding-top: 100px;
    
}


.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}


.bottom-container{
    background-color: rgb(0, 255, 34);
    height: 200px;
    width: 200px;
}

body{
    text-align: center;
    margin: 0px;
    font-family: 'Merriweather', serif;
    
}

h1{
    color: #66bfbf;
    margin-top: 0px;
    font-family:'Zeyada', cursive;
}

h2{
    color: #66bfbf;
    font-family:'Montserrat', sans-serif;
}

h3{
    color: #11999e;

    font-family:'Montserrat', sans-serif;
}




.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right:300px;
    top:100px;

}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;




    
}